.form-dialog {
    position: absolute;
}

.dialog-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: .4;
}


.dialog {
    position: fixed;
    width: 680px;
    background-color: #ffffff;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    border-radius: 5px;
    border: 5px solid #0072bc;
}

    .dialog .dialog-titlebar {
        color: #ffffff;
        width: 100%;
        background-color: #0072bc;
        height: 22px;
        /* border-top-left-radius: 4px;
        border-top-right-radius: 4px;*/
    }

        .dialog .dialog-titlebar .title {
            float: left;
            line-height: 17px;
            padding-left: 4px;
        }

        .dialog .dialog-titlebar .btn-close {
            position: absolute;
            top: 1px;
            right: 3px;
            text-align: center;
            width: 16px;
            height: 16px;
            float: right;
            line-height: 13px;
            font-weight: 500;
            border-radius: 50%;
            background-color: #ffffff;
            color: #0072bc;
            cursor: pointer;
        }

    .dialog .dialog-body {
        padding: 8px;
    }

.dialog-body label {
    display: inline-block;
    width: 135px;
}
.dialog-body .row {
    margin: 4px;
    display: flex;
    align-items: center;
}


.dialog .dialog-footer {
    display: flex;
    padding: 8px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    border: 1px solid #ccc;
    background-color: aqua;
}

.dialog .dialog-footer .footer-left{
    position:absolute;
    left:0;
}

    .dialog .dialog-footer .footer-right {
        position: absolute;
        right: 0;
    }